* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
  font-family: "Inter";
  background-color: #111928;
  color: white;
}
html {
  max-width: 1920px;
  width: 100%;
}
body {
  max-width: 100vw;
  width: 100%;
}
nav {
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #111928;
}
.nav-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  border-bottom: 1px solid rgb(226, 156, 70);
}
.nav-middle-content {
  display: flex;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  background-color: #111928;
}

.nav-content {
  display: flex;
  max-width: 1280px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.GetStarted {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
  background: var(--primary-700, #1a56db);
}
.nav-middle-content > div:hover {
  color: rgb(226, 156, 70);
  cursor: pointer;
  transition: 0.5s;
}
.log-in:hover {
  color: rgb(226, 156, 70);
  cursor: pointer;
  transition: 0.5s;
}
.logo:hover {
  cursor: pointer;
}
.logo {
  color: var(--white, #fff);
  font-family: "Inter";
  font-size: 2em;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}

/* ------------- Part 1 ------------ */
.part1 {
  display: flex;
  padding: 96px 0px;
  align-items: center;
  justify-content: center;
  background: var(--gray-900, #111928);
}
.part1-inside {
  display: flex;
  width: 100%;
  max-width: 1280px;
  justify-content: space-between;
  align-items: center;

  padding-top: 96px;
}
.part1-img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 576px;
  width: 45%;
  max-height: 360px;
  height: 100%;
}
.part1-leftSide {
  display: flex;
  width: 45%;
  max-width: 576px;
  height: 100%;

  flex-direction: column;

  flex-shrink: 0;
}
.part1-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.video-camera {
  background: transparent;
}
.part1-section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

/* .part1-rightSide-img:hover {
  width: 120%;
  height: 120%;
  transition: 0.6s;
}
.image-grow:hover {
  width: 120%;
  height: 120%;
  transition: 0.6s;
} */
button:hover {
  color: rgb(226, 156, 70);
  position: relative;
  transition: 0.5s;
  border: 1px inset rgb(226, 156, 70);
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 20px;
  font-family: "Inter";
}
article {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #9ca3af;
  font-family: "Inter";
}
.camera {
  background-color: #9ca3af;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.buttons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 32px 0 32px 0;
  width: 100%;
  display: flex;
  font-family: "Inter";
  border-bottom: 1px solid #6b7280;
}
.blueButton {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
  background: var(--primary-700, #1a56db);
}
.greyButton {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray-600, #4b5563);
  background: var(--gray-800, #1f2a37);
  cursor: pointer;
}
.sponsors {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #6b7280;
  margin: 32px 0 12px 0;
}
.logoSponsors {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
/* ------------- Part 2 ------------ */
.space {
  height: 96px;
}
.part2 {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
  align-items: center;
  gap: 64px;
  padding-bottom: 96px;
}
.part2-1 {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 48px;
}
.part2-2 {
  display: flex;
  max-width: 1024px;
  width: 100%;
  padding: 24px 16px;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #374151);
  background: var(--gray-800, #1f2a37);

  /* shadow-lg */
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.h2 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 45px */
  letter-spacing: -0.36px;
  background: transparent;
  border-right: 1px solid rgba(213, 210, 210, 0.283);
  height: auto;
  width: 100%;
}
.h2-1 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 45px */
  letter-spacing: -0.36px;
  background: transparent;
  height: auto;
  width: 100%;
}
.underH2 {
  display: flex;
  background: transparent;
  color: var(--gray-400, #9ca3af);
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.linePart2 {
  width: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  background: transparent;
  color: grey;
  position: relative;
}

/* ------------- Part 3 ------------ */
.part3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.part3-inside {
  display: flex;
  width: 100%;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
}
.part3-rightSide {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* flex-shrink: 0; */
}
.part3-image {
  display: block;
  width: 45%;
  flex-shrink: 0;
}
.buttons2 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  background: transparent;
}
h2 {
  align-self: stretch;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: -0.36px;
  width: 100%;
  height: auto;
}
.article2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #9ca3af;
  font-family: "Inter";
  margin: 24px 0;
}

/* ------------- Part 4 ------------ */
.part4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 64px 0;
}
.part4-inside {
  display: flex;
  width: 100%;
  max-width: 1280px;
  align-items: center;
  gap: 80px;
}
.blueButton2 {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--primary-700, #1a56db);
  cursor: pointer;
}
.part4-image {
  width: 45%;
  flex-shrink: 0;
}

/* ------------- Part 6 ------------ */

.part6 {
  display: flex;
  width: 100%;
  padding: 96px 0px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  border-top: 1px solid var(--gray-700, #374151);
  border-bottom: 1px solid var(--gray-700, #374151);
  background: var(--gray-800, #1f2a37);
}
.sponsorsH1 {
  color: var(--white, #fff);
  text-align: center;
  align-self: stretch;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 45px */
  letter-spacing: -0.36px;
  width: 100%;
  height: auto;
  max-width: 672px;
  max-height: 45px;
  background: transparent;
  display: flex;
  justify-content: center;
}

.article3 {
  color: var(--gray-400, #9ca3af);
  text-align: center;
  background: transparent;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30px */
}
.space2 {
  background: transparent;
  height: 96px;
}

.section3 {
  background: transparent;
  max-width: 672px;
  max-height: 161px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.sponsorLink {
  color: var(--primary-500, #3f83f8);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  background: transparent;
  cursor: pointer;
}
.box-sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  background: transparent;
}
.sponsors-column {
  display: flex;
  max-width: 320px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
  background: transparent;
}
.item {
  color: var(--gray-500, #6b7280);
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
  background: transparent;
}
.visit {
  display: flex;
  cursor: pointer;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray-600, #4b5563);
  color: var(--gray-400, #9ca3af);
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 18px */
  background: #374151;
}
.icon {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray-600, #4b5563);
  background: var(--gray-800, #1f2a37);
  background: transparent;
}
.icon img {
  background: transparent;
}
.visit img {
  background: transparent;
}
.container-sponsors-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1280px;
  width: 100%;
  background: transparent;
  row-gap: 32px;
}
.logo-sponsors {
  background: transparent;
  /* margin-top: 32px; */
}
.part7 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 96px;
  background: var(--gray-900, #111928);
}
.part7-inside {
  display: flex;
  width: 100%;
  max-width: 1280px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-bottom: 96px;
}
.boxs2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  max-width: 1280px;
  width: 100%;
}
.inside-box {
  display: flex;
  padding: 32px;
  width: 45%;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #374151);
  background: var(--gray-800, #1f2a37);
  /* shadow-md */
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05),
    0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.image-part7 {
  height: 288px;
  align-self: stretch;
  background: none;
}
.line1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: transparent;
}

.value {
  color: var(--white, #fff);
  /* text-lg/font-bold */
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  background: transparent;
}
.value2 {
  color: var(--gray-400, #9ca3af);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  background: transparent;
  display: flex;
  position: relative;
  justify-content: flex-start;
  margin-left: 0;
}
.donors {
  color: var(--gray-400, #9ca3af);
  text-align: right;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  background: transparent;
}
.value1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: transparent;
}
.line2 {
  width: 100%;
  height: 10px;
  /* background: var(--gray-700, #374151); */
  background: #1a56db;
  background: transparent;
  margin-top: -15px;
}
.line3 {
  color: var(--white, #fff);
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 22.5px */
  align-self: stretch;
  background: transparent;
  margin-top: 16px;
}
.line4 {
  color: var(--gray-400, #9ca3af);
  background: transparent;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  align-self: stretch;
}
.line5 {
  display: flex;
  align-items: center;
  gap: 16px;
  background: transparent;
}
.line5 {
  background: transparent;
}
.blueButton2 {
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--primary-600, #1c64f2);
}
.greyButton2 {
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray-600, #4b5563);
  background: var(--gray-800, #1f2a37);
}
.icon2 {
  background: transparent;
}
.line-under-boxes {
  color: var(--primary-500, #3f83f8);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  cursor: pointer;
}
.part8 {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
  padding: 96px 0px;
  align-items: center;
  gap: 10px;
  border-top: 1px solid var(--gray-700, #374151);
  border-bottom: 1px solid var(--gray-700, #374151);
  background: var(--gray-800, #1f2a37);
}
.part8-inside {
  display: flex;
  max-width: 1280px;
  width: 100%;
  align-items: center;
  background: #1f2a37;
}
.section4 {
  display: flex;
  max-width: 576px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background: #1f2a37;
  margin-bottom: 64px;
}
.blocks3 {
  display: flex;
  display: table-row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  align-self: stretch;
  background: #1f2a37;
}
.left-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  padding-right: 32px;
  background: #1f2a37;
}

.left-block-img {
  display: flex;
  height: auto;
  width: 100%;
  align-items: flex-start;
  align-self: stretch;
}
.part8-header {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 30px */
  align-self: stretch;
  background: #1f2a37;
}
.part8-article {
  color: var(--gray-400, #9ca3af);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  align-self: stretch;
  background: #1f2a37;
}
.part8-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 32px;
  background: #1f2a37;
}
.part8-link {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: var(--primary-500, #3f83f8);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */
  background: #1f2a37;
  height: auto;
}
.part8-link img {
  width: 16px;
  height: 16px;
  background: #1f2a37;
}

.mid-block .part8-section {
  border-right: 1px solid #374151;
  border-left: 1px solid #374151;
  padding-right: 32px;
  padding-left: 32px;
}
.right-block .part8-section {
  border-left: 1px solid #374151;
  padding-left: 32px;
}
.part9 {
  display: flex;
  max-width: 1920px;
  width: 100%;
  padding: 96px 0px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: var(--gray-900, #111928);
}
.part9-inside {
  display: flex;
  max-width: 1280px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background: transparent;
}
.part9-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: transparent;
}
.part9-h1 {
  color: var(--white, #fff);
  text-align: center;
  max-width: 672px;
  width: 100%;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 45px */
  letter-spacing: -0.36px;
}
.part9-article {
  color: var(--gray-400, #9ca3af);
  text-align: center;
  max-width: 672px;
  width: 100%;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  padding-bottom: 64px;
}
.form-contact {
  display: flex;
  max-width: 640px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.textArea-email {
  align-self: stretch;
  background: #4b5563;
  color: #9ca3af;
  display: flex;
  padding: 14px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--gray-600, #4b5563);
  background: var(--gray-700, #374151);
}
.subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-600, #4b5563);
  background: var(--gray-700, #374151);
  color: var(--gray-400, #9ca3af);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.label {
  margin-top: 32px;
}
#message {
  display: flex;
  padding: 13px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-600, #4b5563);
  background: var(--gray-700, #374151);
  height: 162px;
  width: 100%;
  margin-bottom: 24px;
}

/* ----- part10 ----- */

.part10 {
  display: flex;
  max-width: 1920px;
  width: 100%;
  padding: 96px 0px 64px 0px;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--gray-700, #374151);
  background: var(--gray-800, #1f2a37);
}
.part10-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--gray-800, #1f2a37);
}
.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  max-width: 1280px;
  width: 100%;
  max-height: 221px;
  height: 100%;
  background: var(--gray-800, #1f2a37);
}
.footer2 {
  display: flex;
  max-width: 384px;
  width: 100%;
  height: 68px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #9ca3af;
  background: var(--gray-800, #1f2a37);
  margin-top: 64px;
}
h4 {
  color: var(--white, #fff);
  align-self: stretch;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  background: var(--gray-800, #1f2a37);
}
.column ul li {
  color: var(--gray-400, #9ca3af);
  font-family: "Inter";

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  display: flex;
  /* justify-content: space-between; */
  align-items: start;
  padding-top: 16px;
  max-width: 176px;
  width: 100%;
  background: var(--gray-800, #1f2a37);
}

.footer2-line2 {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--gray-800, #1f2a37);
}
.icon3 {
  background-color: var(--gray-800, #1f2a37);
}
.footer2-line1 {
  background-color: var(--gray-800, #1f2a37);
  color: var(--gray-400, #9ca3af);
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  align-self: stretch;
}
/* @media only screen and (max-width: 1024px) {
  .nav-menu {
    width: auto;
    height: auto;
  }
} */

/* ----------- media ----------- */

@media (min-width: 1920px) {
  .part1 .part2 .part3 .part4 .part5 .part6 .part7 .part8 .part9 .part10 {
    max-width: 1920px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .part1 {
    padding: 96px 80px 96px 80px;
  }

  .navigation {
    display: none;
  }

  .navbar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 480px) and (max-width: 1023px) {
  .header-padding {
    max-width: 480px;
    margin: 0 auto;
  }
}
